@{
    ViewData["Title"] = "Home Page";
}
@model TeamMonitoring.Monitor.UI.Models.ProximityEventsViewModel

<div class="text-center">
    <h1 class="display-4">Team Monitoring Microservice Sample</h1>
    <p>Adapted code from <a href="https://www.oreilly.com/library/view/building-microservices-with/9781491961728/">Building Microservices with ASP.NET Core</a>.</p>
</div>

<hr />

<h2>Proximity Events:</h2>
<hr />
<div class="col-md-6">
    <div id="status"></div>
</div>


@Html.HiddenFor(model => model.HubUrl)

@section scripts{
    <script src="~/lib/toastr/toastr.min.js"></script>
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script src="~/js/notifications.js"></script>
}